.card {
  margin-bottom: 12px;
  background-color: #d3c5c5;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);

  /* width: 90vw; */

}

.listItem {
  padding: 12px 16px;
  color: blue;
  background-color: red;
  
}

/* Стили для кнопок действия */
:global(.adm-swipe-action-actions) {
  height: 28px; /* Уменьшаем высоту кнопок */
}

:global(.adm-swipe-action-action-button) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Занимаем всю высоту контейнера */
}

.listItemContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.listItemName {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.listItemSum {
  font-size: 16px;
  font-weight: 600;
  color: #082540;
}

.actionIcon {
  height: 10px;
  font-size: 18px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}