.card {
  border-radius: 12px !important; /* Скругление углов */
  background-color: #fff !important;
  margin-bottom: 16px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1) !important; /* Тень для карточки */
}

.listItem {
  border: none !important;
  border-radius: 12px !important;
  padding: 0px 10px;
  height: 70px;
  color: blue;
  background-color: red;
  
}

 
:global(.adm-swipe-action-actions) {
  height: 28px;  
}

:global(.adm-swipe-action-action-button) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Занимаем всю высоту контейнера */
}

.listItemContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(50%);
}

.listItemName {
  font-size: 16px;
  font-weight: 500;
  color: #333;

 


}

.listItemSum {
  font-size: 16px;
  font-weight: 600;
  color: #082540;
  padding-right: 10px;
}

.actionIcon {
  height: 10px;
  font-size: 18px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.swipeHint {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  color: var(--primary-light-purple);
  font-size: 14px;
  opacity: 0.7;
}