.card {
  padding: 0;
  cursor: pointer;
  border-bottom: 1px solid var(--color-border);
  transition: background-color 0.2s ease;
}

.card:hover {
  background-color: var(--color-hover-bg);
}

.container {
  width: 100%;
}

.leftSection {
  flex: 1;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.description {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text);
}

.date {
  margin: 0;
  font-size: 12px;
  color: #666;
  white-space: nowrap; 
}

.sum {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.categoryIcon {
  /* margin-right: 12px; */
  object-fit: cover;
  border-radius: 50%; 
  padding: 6px;
}

.categoryIcon.трата {
  border: 0.5px solid rgb(212, 76, 31);
  background-color: rgba(239, 6, 6, 0.367)
}

.categoryIcon.доход {
  border: 0.5px solid rgb(3, 173, 0);
  background-color: rgba(93, 232, 91, 0.367)
}

.categoryIcon.перевод {
  border:0.5px solid #0058f1;
  background-color: #e6f7ff;
}