.card {
  padding: 0;
  cursor: pointer;
  border-bottom: 1px solid var(--color-border);
  transition: background-color 0.2s ease;
}

.card:hover {
  background-color: var(--color-hover-bg);
}

.container {
  width: 100%;
}

.leftSection {
  flex: 1;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 185px;  
}

.description {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text);
}

.date {
  margin: 0;
  font-size: 12px;
  color: #666;
  white-space: nowrap; 
}

.sum {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.categoryIcon { 
  padding: 6px;

  /* margin-right: 12px; */
  object-fit: cover;
  border-radius: 50%;
}

.categoryIcon.трата {
  background-color: rgb(239 6 6 / 36.7%);
  border: 0.5px solid rgb(212 76 31)
}

.categoryIcon.доход {
  background-color: rgb(93 232 91 / 36.7%);
  border: 0.5px solid rgb(3 173 0)
}

.categoryIcon.перевод {
  background-color: #e6f7ff;
  border:0.5px solid #0058f1;
}