* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Comfortaa, Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 3vh;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
  will-change: opacity, transform; 
}

.logo {
  height: 20vh;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
  will-change: opacity, transform;
}

.welcomeText {
  margin-right: 10vw;
  margin-bottom: 2vh;
  margin-left: 10vw;
  font-size: 16px;
  line-height: 1.4;
  color: #333;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
  will-change: opacity, transform; 
}

.warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 600px;
  padding: 2vw;
  margin: 2vh 3vw;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  text-align: center;
  border: 3px solid rgb(124 95 202);
  border-radius: 1vw;
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out 0.5s forwards;
  will-change: opacity, transform;
}

.warning strong {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #000;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  max-width: 800px;
  margin-top: 2vh;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out 0.5s forwards;
  will-change: opacity, transform; 
}

.instructions > div {
  margin-bottom: 2vh;
  font-size: 20px;
  font-weight: bold;
}

.steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  margin-top: 2vh;
}

.step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 150px;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: rgb(124 95 202);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out 0.5s forwards;
  will-change: opacity, transform; 
}

.number {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  font-weight: bold;
}

.text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
}

.footer {
  position: fixed; 
  bottom: 0; 
  left: 0; 
  z-index: 1000; 
  width: 100%; 
  padding: 10px; 
  font-size: 14px; 
  color: white; 
  text-align: left; 
  background-color: rgb(124 95 202); 
  box-shadow: 0 -2px 10px rgb(0 0 0 / 20%); 
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}