.container {
  width: 300px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid rgb(0 0 0 / 5%); 
}

.categoryIconD {
  padding: 6px;
  margin-right: 12px;
  object-fit: cover;
  background-color: var(--category-d-icon-background-color);
  border: var(--category-d-icon-border-color);
  border-radius: 50%;
}

.categoryIconR {
  padding: 6px;
  margin-right: 12px;
  object-fit: cover;
  background-color: var(--category-r-icon-background-color);
  border: var(--category-r-icon-border-color);
  border-radius: 50%;
}

.descriptionBlock {
  flex: 1;
  flex-direction: column;
  width: 100%;
  margin-right: 12px; 
  word-wrap: break-word; 
}

.description {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #333; 
  word-break: break-word;
  white-space: normal; 
}

.date {
  margin: 0;
  font-size: 12px;
  color: #666;
  white-space: nowrap;
}

.sumD {
  align-self: flex-start;
  min-width: 80px;
  padding-top: 4px;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  color: var(--transaction-d-sum-color);
  text-align: right;
}

.sumR {
  align-self: flex-start;
  min-width: 80px;
  padding-top: 4px;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  color: var(--transaction-r-sum-color);
  text-align: right;
}





























/* 

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* align="center" justify="between" */


/* .categoryIcon {
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px; /* Отступ между иконкой и описанием */

/* } */

/* .descriptionBlock {
  flex: 1; /* Занимает оставшееся пространство между иконкой и суммой */

/* } */

/* .description {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  color: #333;
} */

/* .date {
  font-size: 12px;
  color: #666;
  margin: 0;
}

.sum {
  font-size: 16px;
  font-weight: 300;
  color: #333;
  margin: 0;
  text-align: right; /* Сумма выравнивается по правому краю */

/* } */





































/* .categoryIcon {
    border-radius: 50%;
    object-fit: cover;
  }
  
  .description {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: #333;
  }
  
  .date {
    font-size: 12px;
    color: #666;
    margin: 0;
  }
  
  .sum {
    font-size: 16px;
    font-weight: 300;
    color: #333;
    margin: 0;
  } */