
.container {
  font-family: Comfortaa; 
}


.orientation {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: white;
    background-color: var(--primary-translucent-blue); 
  }
  
  .message {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(0 0 0 / 50%); 
    border-radius: 8px;
  }


  .ant-select-focused .ant-select-selector {
    border-color: var(--primary-dark-purple)!important; 
    box-shadow: none !important; 
  }

  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: var(--primary-dark-purple)!important;
  }
