DB=postgres://postgres.pylbiafdqtwwdugojamb:postgres@aws-0-eu-central-1.pooler.supabase.com:6543/planer

PORT=3000
SECRET_ACCESS_TOKEN=lupa
SECRET_REFRESH_TOKEN=pupa
CLIENT_URL=http://localhost:5173