
.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%; 
  background-color: #fff;
  border-radius: 9px;
  
}

.sliderContainer {
  padding: 16px;
  background-color: #dd9292;
  border-radius: 8px;
  box-shadow: 10px 10px 8px rgb(0 0 0 / 10%);
}

